// scss的全局变量配置

// 左侧菜单的宽度
$base-menu-width:260px;
// 左侧菜单的背景颜色
$base-menu-background:#001529;
// 顶部导航的高度
$base-tabbar-height:50px;
// 顶部导航的背景颜色
$base-tabbar-background:#fff;

//  logo的高度
$logo-height:50px;
// 左侧菜单文字login的大小
$base-menu-font-size:20px